---
import { Image } from "astro:assets";
import MainLogo from "../../assets/png/hooman-logo-main2.png"

import {companyData, contactData, servicesData} from "../../data/footer_data/FooterData.js"

---

<div>
  <div class="bg-white">
    <div class="container mx-auto px-4 md:px-12 flex flex-wrap pt-20 pb-14">
      <div class="w-full md: md:w-1/2 lg:w-2/5">
        <Image src={MainLogo} alt="main logo version 2" />
        <p class="py-8 w-[65%] text-lg">
          At Hooman Digital, we're more than just a team of digital experts. We're a group of individuals.
        </p>
      </div>
      <div class="w-full pt-6 md:pt-0 md:w-1/2 lg:w-1/5">
        <h4 class="font-bold text-lg pb-3">Company</h4>
        <div class="flex flex-col gap-2">
          {
            companyData.map(({link, text}, indx)=> <a class="text-sm transition-all hover:underline" href={link}>{text}</a>)
          }
        </div>
      </div>
      <div class="w-full pt-6 md:pt-0 md:w-1/2 lg:w-1/5">
        <h4 class="font-bold text-lg pb-3">Services</h4>
        <div class="flex flex-col gap-2">
          {
            servicesData.map(({link, text}, indx)=> <a class="text-sm transition-all hover:underline" href={link}>{text}</a>)
          }
        </div>
      </div>
      <div class="w-full pt-6 md:pt-0 md:w-1/2 lg:w-1/5">
        <h4 class="font-bold text-lg pb-3">Start a Conversation</h4>
        <div class="flex flex-col gap-2">
          {
            contactData.map(({link, text}, indx)=> <a class="text-sm transition-all hover:underline" href={link}>{text}</a>)
          }
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#fff8f2]">
    <div class="container mx-auto px-4 md:px-12 flex justify-between items-center py-3 ">
      <p>Copyright © 2023. All Rights Reserved.</p>
      <div class="flex gap-4">
        <a
          href="/"
          class="h-[30px] w-[30px] rounded-full border border-gray-900 flex items-center justify-center transition-all hover:bg-white hover:scale-105"
        >
          <img src="/png/twitter.png" alt="twitter icon" />
        </a>
        <a
          href="/"
          class="h-[30px] w-[30px] rounded-full border border-gray-900 flex items-center justify-center transition-all hover:bg-white hover:scale-105"
        >
          <img src="/png/facebook.png" alt="facebook icon" />
        </a>
        <a
          href="/"
          class="h-[30px] w-[30px] rounded-full border border-gray-900 flex items-center justify-center transition-all hover:bg-white hover:scale-105"
        >
          <img src="/png/instagram.png" alt="instagram icon" />
        </a>
        <a
          href="/"
          class="h-[30px] w-[30px] rounded-full border border-gray-900 flex items-center justify-center transition-all hover:bg-white hover:scale-105"
        >
          <img src="/png/youtube.png" alt="youtube icon" />
        </a>
      </div>
    </div>
  </div>
</div>;
