---
import CommonButtonOutlinedArrow from "../../components/button/CommonButtonOutlinedArrow.jsx";
const { slug } = Astro.props;
let blogs = await Astro.glob(`../../contents/blogs/**/*.md`);
blogs = blogs.filter((el) => el.frontmatter.slug != slug);
const selectedHomeContent = blogs.slice(0, 2);
---

<div class="bg-[#fff8f2]">
  <div class="container mx-auto my-16 px-4 md:px-12 py-20">
    <h3 class="py-9 font-bold text-5xl">RECENT BLOG</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-9">
      {
        selectedHomeContent.map(({ frontmatter }) => (
          <div>
            <div class="h-[360px] w-full rounded-lg overflow-hidden img-hover">
              <img
                src={frontmatter.image}
                alt={frontmatter.title}
                class="h-full"
              />
            </div>
            <div class="flex flex-col gap-4 pt-4">
              <p class="flex items-end gap-2 my-0 py-0">
                <span class="uppercase font-bold">{frontmatter.type}</span>
                <small>{frontmatter.date}</small>
              </p>
              <h4 class="text-2xl font-bold">{frontmatter.title}</h4>
              <p class="">{frontmatter.description}</p>
              <div class="py-4">
                <CommonButtonOutlinedArrow
                  link={`/blog/${frontmatter.slug}`}
                  text="Read More"
                />
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
